<div class="filter">
  <div class="filter__header">
    <h3>Filters</h3>
    <a class="clear--filter"
      aria-label="Clear Filter"
      [routerLink]="['/']">
      Clear
    </a>
  </div>
  <div class="filter__title">
    Launch Year
  </div>
  <div class="filter__item">
    <div class="filter__item__content"
      *ngFor="let year of years">
      <a [routerLink]="['/']"
        #yearFilterStatus="routerLinkActive"
        (click)="clearFilter(yearFilterStatus.isActive, { launch_year: null })"
        [queryParams]="{ launch_year: year }"
        attr.aria-label="Launch Year {{ year }}"
        routerLinkActive="active"
        queryParamsHandling="merge">
        {{ year }}
      </a>
    </div>
  </div>
  <div class="filter__title">
    Successful Launch
  </div>
  <div class="filter__item">
    <div class="filter__item__content">
      <a [routerLink]="['/']"
        #launchSuccessStatus="routerLinkActive"
        (click)="clearFilter(launchSuccessStatus.isActive, { launch_success: null })"
        [queryParams]="{ launch_success: true }"
        attr.aria-label="Successful Launch True"
        routerLinkActive="active"
        queryParamsHandling="merge">
        True
      </a>
    </div>
    <div class="filter__item__content">
      <a [routerLink]="['/']"
        #launchFailStatus="routerLinkActive"
        (click)="clearFilter(launchFailStatus.isActive, { launch_success: null })"
        [queryParams]="{ launch_success: false }"
        attr.aria-label="Successful Launch False"
        routerLinkActive="active"
        queryParamsHandling="merge">
        False
      </a>
    </div>
  </div>
  <div class="filter__title">
    Successful Landing
  </div>
  <div class="filter__item">
    <div class="filter__item__content">
      <a [routerLink]="['/']"
        #landSuccessStatus="routerLinkActive"
        (click)="clearFilter(landSuccessStatus.isActive, { land_success: null })"
        [queryParams]="{ land_success: true }"
        attr.aria-label="Successful Landing True"
        routerLinkActive="active"
        queryParamsHandling="merge">
        True
      </a>
    </div>
    <div class="filter__item__content">
      <a [routerLink]="['/']"
        #landFailStatus="routerLinkActive"
        (click)="clearFilter(landFailStatus.isActive, { land_success: null })"
        [queryParams]="{ land_success: false }"
        attr.aria-label="Successful Landing False"
        routerLinkActive="active"
        queryParamsHandling="merge">
        False
      </a>
    </div>
  </div>
</div>
