<div class="loader-card">
  <app-loading-placeholder [height]="'245px'"
    [marginLeft]="'auto'"
    [marginRight]="'auto'"
    [marginBottom]="'20px'">
  </app-loading-placeholder>
  <app-loading-placeholder [width]="'75%'"
    [height]="'25px'"
    [marginBottom]="'15px'">
  </app-loading-placeholder>
  <app-loading-placeholder [height]="'16px'"
    [marginBottom]="'10px'">
  </app-loading-placeholder>
  <app-loading-placeholder [height]="'16px'"
    [marginBottom]="'10px'">
  </app-loading-placeholder>
  <app-loading-placeholder [height]="'16px'"
    [marginBottom]="'10px'">
  </app-loading-placeholder>
  <app-loading-placeholder [height]="'16px'"
    [marginBottom]="'10px'">
  </app-loading-placeholder>
</div>
